<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<!--
<p>Gebruik /test</p>
Grape::Api, module Rene, class API, get :test 

<p>Gebruik /json</p>
Grape::Api, module Rene, class API, get :json 
-->

<p>Gebruik /test of /v1/test</p>
Grape::Api, module Rene, class API, get :test in class APIv2 of APIv1 via mount (on a path) in class API

<p>Gebruik /v1/json</p>
Grape::Api, module Rene, class API, get :json 